<div class="task-card" *ngFor="let task of tasks">
    <div class="left">
      <mat-icon class="status-icon" [ngClass]="{done: task.done}">check_circle</mat-icon>
      <div class="title" [ngClass]="{done: task.done}">
        {{ task.title }}
      </div>
    </div>
  
    <div class="actions">
      <button mat-icon-button (click)="toggleDone(task)">
        <mat-icon>{{ task.done ? 'undo' : 'done' }}</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="remove(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  